- content_for(:js_and_css) do
  = vite_client_tag
  = vite_javascript_tag 'react-bundle.jsx', type: 'text/javascript'
  = vite_javascript_tag 'advanced-search-bundle', type: 'text/javascript'

:ruby
  props.merge!({
    buttons: {
      tooltips: {
        clear: t('.button_tooltip_clear'),
        remove: t('.button_tooltip_remove'),
      },
      texts: {
        submit: t('.button_text_submit')
      }
    }
  })

= react_component('AdvancedSearchApp', props: props)
