$active-border-width: 5px;
$nesting-indent: 20px;
$padding-bias: calc($grid-gutter-width / 2);
$side-iconbar-width: 55px;
$sidebar-width: 270px;

@mixin sidebar-transition {
  transition: all 0.5s ease;
}

.navbar-logo {
  float: left;
  height: 50px;
  padding: 5px;
}

.navbar-brand {
  @include sidebar-transition;

  width: 0;
  padding: $navbar-padding-y 0;
  overflow: hidden;
}

#sidebar-toggler {
  margin-top: 8px;
  margin-bottom: 8px;
  margin-left: $padding-bias;

  .glyphicon {
    @include sidebar-transition;
  }
}

.main-bar {
  @include sidebar-transition;

  height: 100%;
  padding-left: calc(#{$side-iconbar-width} + #{$padding-bias});
  margin-bottom: 5em;
}

.sidebar {
  @include sidebar-transition;

  position: fixed;
  z-index: 1000;
  width: $side-iconbar-width;
  height: 100%;
  overflow: hidden auto;
  background-color: var(--bs-dark-bg);
}

.sidebar-icon {
  float: left;
  width: $side-iconbar-width - $active-border-width * 2;
  height: $side-iconbar-width;
  margin: 0 $active-border-width;
  line-height: $side-iconbar-width;
  text-align: center;
}

.sidebar-accordion {
  padding: 0;
  list-style-type: none;

  input[type='checkbox'] {
    position: absolute;
    opacity: 0;
  }

  a,
  label {
    display: block;
    height: $side-iconbar-width;
    margin-bottom: 0;
    overflow-x: hidden;
    line-height: $side-iconbar-width;
    color: $navbar-dark-color;
    text-decoration: none;
    white-space: nowrap;
    cursor: pointer;

    &:hover {
      @include sidebar-transition;

      color: white;
    }

    &.is-active {
      background-color: color-mix(in srgb, var(--bs-dark-bg), black 3%);
      border-left: $active-border-width solid;

      .sidebar-icon {
        margin-left: 0;
      }
    }
  }

  ul {
    height: 0;
    padding-left: 0;
    overflow: hidden;
    list-style-type: none;
  }

  > li > ul {
    text-indent: $side-iconbar-width;

    a,
    label {
      &.is-active {
        text-indent: $side-iconbar-width - $active-border-width;
      }
    }

    ul {
      text-indent: $side-iconbar-width + $nesting-indent;

      a,
      label {
        &.is-active {
          text-indent: $side-iconbar-width + $nesting-indent - $active-border-width;
        }
      }

      ul {
        text-indent: $side-iconbar-width + $nesting-indent * 2;
      }
    }
  }

  input:checked ~ ul {
    height: unset;
    overflow-y: auto;
  }

  input:not(:checked) ~ label .caret {
    transform: rotate(90deg);
  }
}

@media (width <= 384px) {
  #sidebar-toggler {
    margin-left: 8px;
  }
}

.sidebar-is-opened {
  .sidebar {
    width: $sidebar-width;
  }

  #sidebar-toggler {
    .glyphicon {
      transform: rotate(-180deg);
    }
  }

  .navbar-brand {
    width: $sidebar-width - $side-iconbar-width;
    padding: $navbar-padding-y $navbar-padding-x;
  }

  @media (width <= 337px) {
    .navbar-brand {
      width: 0;
      padding: $navbar-padding-y 0;
    }
  }

  @media (width >= 338px) and (width <= 383px) {
    .navbar-brand {
      width: 175px;
    }

    .sidebar {
      @include sidebar-transition;

      overflow-y: scroll;
    }

    input:checked ~ ul {
      overflow-y: scroll;
    }
  }

  @include media-breakpoint-down(sm) {
    .main-bar {
      position: relative;
    }

    .sidebar {
      opacity: 0.95;
    }
  }

  @include media-breakpoint-up(sm) {
    .main-bar {
      padding-left: calc(#{$sidebar-width} + #{$padding-bias});
    }
  }
}
