@keyframes roll {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

.spinner {
  width: 0;
  opacity: 0;
}

.btn-submit.active {
  cursor: progress;
}

.btn-submit.active .spinner {
  width: auto;
  opacity: 1;
  transition: opacity 0.25s 0.25s;
  transform: rotate(30deg);
  animation: roll 2s infinite;
}
