.row.vert-offset-top-1
  .col-xs-12
    - content_for(:js_and_css) do
      = vite_client_tag
      = vite_javascript_tag 'react-bundle.jsx', type: 'text/javascript'
      = vite_javascript_tag 'schedule-list-bundle.jsx', type: 'text/javascript'

    = react_component('ScheduleListApp',
      props: { url: ui_group_class_schedules_path(academic_group_id),
        headers: class_schedules_table_headers,
        noSchedules: t('academic_groups.show.no_pending_schedules') })
